.message-bubble {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 80%;
}

.sender {
    background-color: #DCF8C6;
    /* Light green background for sender */
    align-self: flex-end;
}

.receiver {
    background-color: #ECECEC;
    /* Light grey background for receiver */
    align-self: flex-start;
}

.message-content {
    margin-bottom: 5px;
    /* Space between message text and timestamp */
}

.message-timestamp {
    font-size: 0.75rem;
    /* Smaller font size for timestamp */
    color: #888888;
    /* Grey color for timestamp */
    text-align: right;
}